/* Sticky Footer Classes */
/* adapted from js fiddle: https://jsfiddle.net/StartBootstrap/out2g1mq/?utm_source=website&utm_medium=embed&utm_campaign=out2g1mq */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
